:root {
  --color0: rgb(0, 0, 0);
  --color1: rgb(17, 228, 87);
  --color2: rgb(228, 224, 224);
  --color3: rgb(100, 100, 100);
  --color4: rgb(7, 97, 37);
}

.App {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--color1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  position: absolute;
  top: 25vh;
  color: var(--color2);
  font-size: 25px;
}

.logo-alternative {
  position: absolute;
  top: 25vh;
  color: blue;
  font-size: 25px;
}

.input-box {
  position: absolute;
  bottom: 0;
  background: var(--color2);
  width: 100vw;
  height: 40vh;
  box-shadow: 0px 0px 5px var(--color0);
}

.title-input-box {
  position: absolute;
  width: 60%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  top: 4vh;
  left: 18%;
}

.input-div {
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.label {
  position: absolute;
  top: 3vh;
  width: 59%;
  color: var(--color3);
}

.input {
  position: absolute;
  top: 4vh;
  width: 60%;
  border: none;
  border-bottom: 2px solid var(--color4);
  background-color: transparent;
  outline: none;
  z-index: 1;
}

.input:focus ~ .label {
  top: 0;
  transition-duration: 0.6s;
  color: var(--color4);
}

.input:valid ~ .label {
  top: 0;
  transition-duration: 0.6s;
  color: var(--color4);
}